h1,
h2,
h3,
h4,
h5 {
    font-family: border;
    color: black;
}


::selection {
    background-color: rgb(10, 255, 133);
    color: rgb(0, 0, 0);
}

h1 {
    text-align: center;
}

.tema1 {
    background-color: rgba(180, 180, 180, 0.37)
}

.tema2 {
    color: rgb(255, 255, 255);
}

.tema2 a {
    text-decoration: none;
    color: #ffffff;

}

.photo1 {
    opacity: 100%;
}

.cor1 {
    color: #ff7b00;
    text-shadow: 1px 2px 3px #454645;
    font-weight: bold;
    margin-left: 270px;
    
}

.texto1 {
    border: 1px solid #0000003f;
    background-color: #ffffff;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 20px;
}

.bordacal {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 2px;
    background-color: #ffffff;
    height: 25px;
    width: 200px;
}

.calculadora input {
    border: 1px solid #ff0000;
}

.calculadora {
    border-radius: 5px;
    border: 1px solid #000000;
    background-color: #7e817e;
    color: #000000;

}

@media (max-width: 600px) {
    .nav-link, .nav-item{
        font-size: 12px;
        width: 25%;
        margin-left:-0px; 
      
    }
    
    
     .active, .btn:hover{
        width: 100%;
        height: 100%;
     }
    
     .cor1{
        margin-left: -50px;
     }        
}

/**************************************************/
.btn {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #f0f1f1;
    cursor: pointer;
    font-size: 18px;
    height: 100%;
}

/* Style the active class, and buttons on mouse-over */
.active,
.btn:hover {
    background-color: #666;
    color: white;

    
}

.ferramentas{
    height: 100px;
}